.App {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #f8f8f8;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2 rem;
  margin: 0;
  color: #333;
}
h1 img{
  width: 150px;
  height: 50px;
  object-fit: contain;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
  font-size: 24px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #131314;
}

main {
  padding: 20px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px 20px;
  }

  header h1 {
    margin-bottom: 10px;
  }
  h1 img{
    display: none;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 5px 0;
  }
}
